{% if grav.twig.enable %}
  <div class="comments--container comments--form">

    {% if form.message %}
      <div class="Alert">{{ form.message }}</div>
    {% endif %}

    <h2 class="">{{'PLUGIN_COMMENTS.ADD_COMMENT'|t}}</h2>

    <form class="form-field Form" name="{{ grav.config.plugins.comments.form.name }}"
      action="{{ grav.config.plugins.comments.form.action ?  base_url ~ grav.config.plugins.comments.form.action : page.url }}"
      method="{{ grav.config.plugins.comments.form.method|upper|default('POST') }}">
    {% for field in grav.config.plugins.comments.form.fields %}

      {% set value = form.value(field.name) %}
      {% if field.evaluateDefault %}
        {% set value = evaluate(field.evaluateDefault) %}
      {% endif %}
      <div>
        {% include "forms/fields/#{field.type}/#{field.type}.html.twig" %}
      </div>
    {% endfor %}

      <div class="buttons">
      {% for button in grav.config.plugins.comments.form.buttons %}
        <button class="Button Button--primary" type="{{ button.type|default('submit') }}">{{ button.value|default('Submit') }}</button>
      {% endfor %}
      </div>

      {{ nonce_field('form', 'form-nonce') }}
    </form>
  </div>

  <div class="comments--container">

    {% if grav.twig.comments|length %}

      <h2>{{'PLUGIN_COMMENTS.COMMENTS'|t}}</h2>

      <ol class="comments--overview">
      {% for comment in grav.twig.comments|array_reverse %}
        <li>
          <div class="comments--author">
            <h3>{{comment.author}}</h3>
            <span class="comments--author-date">
              <a href=''>{{comment.date|e}}</a>
            </span>

          </div>

          <div class="comments--comment">
            <p>{{comment.text}}</p>
          </div>
        </li>
      {% endfor %}
      </ol>

    {% endif %}
  </div>
{% endif %}
