{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
	<ul>
		{% for tax,value in taxlist[taxonomy] %}
			{% set active = uri.param(taxonomy) == tax ? 'active' : '' %}
			<li><a class="{{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
